@import "config";
html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
  display: block;
}

h2 {
  padding-top: 6rem;
  font-weight: bold;
  line-height: 3.875rem;
  font-size: 3.625rem;
  text-align: center;
  &.top-text {
    text-align: left;
    margin-right: 100px;
  }
}
h3 {
  font-weight: bold;
  font-size: 1.31rem;
  line-height: 2rem;
}

p {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
}
.text-p {
  padding-top: 6rem;
}

.hero-container {
  height: 200px;
  background-image: url("./images/hero-img.jpg");
  background-position: center;
}
figure {
  position: relative;
  height: 250px;
  //margin: 20px;
  .hero-container {
    height: inherit;
    background-image: url("./images/hero-img.jpg");
    background-position: center;
  }
  img {
    position: absolute;
    width: inherit;
    //height: auto;
    //height: inherit;
    // top: 50%;
    // left: 50%;

    transform: translate(-50%, -50%);
    //object-fit: cover;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
  }
}
nav {
  padding: 3rem;
}

.custom-card {
  //position: relative;
  height: 283px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px 50px;
  max-width: 47%;
  //margin: 20px;
}
.wrapper {
  justify-content: center;
  top: 0px;
  max-width: $sizeLg;
  margin: 50px auto;
  background-color: $background_color;
  padding: 50px 100px;
  &-culture {
    .culture-middle {
      font-size: 1.3rem;
      line-height: 2.4rem;
      text-align: center;
      margin-top: 50px;
    }
    .glass-face {
      width: 5rem;
    }
    .description {
      color: $text_color_light;
    }
  }

  &-progress {
    .blue-container {
      padding: 0px 20px;
      background-color: #eff8ff;
      background-size: cover;
      height: 879px;
      border-radius: 5px;
      .year {
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 2rem;
        color: #0688fa;
        text-align: right;
        //padding: 100px 0px;
        padding: 80px 0px;
        //height: inherit;
      }
      .mail {
        background: linear-gradient(#0688fa, #0688fa) no-repeat center/3px 100%;
        //background-size: cover;
        height: inherit;
        padding: 80px 0px;
        //text-align: center;

        img {
          width: 5rem;
        }
      }
      .description {
        font-weight: 600;
        font-size: 1.625rem;
        padding: 80px 0px;
        color: #002240;
        //display: inline-block;
        //vertical-align: middle;
      }
    }
  }
  &-offices {
    background-image: url("./images/officesbg.svg");
    margin-bottom: 0px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    .offices-card {
      h2 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
      }
      p {
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
  }
  &-investors {
    background-image: url("./images/investorbg.svg");
    margin-top: 0px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    img {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .investors-container {
      padding-top: 50px;
    }
  }
  &-future {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 15rem;
    //padding-top: 50px;
    color: #fff;
    // h1 {
    //   font-weight: bold;
    //   font-size: 3rem;
    //   line-height: 120%;
    // }
    align-self: center;
    text-align: center;

    .btn-demo {
      background: #ffffff;
      mix-blend-mode: normal;
      /* Shadow / Button */
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: $text_color;
      margin: 10px;
    }
    .btn-read {
      border-color: #fff;
      border-radius: 5px;
      margin: 10px;
    }
    background-color: #329dfa;
  }
}

.nav {
  font-weight: bold;
  &-container {
    position: relative;
    top: -50px;
  }
  &-link {
    color: $text_color;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.44rem;
  }
}

footer {
  //text-align: center;
  margin: 0 auto;
  display: block;
  max-width: $sizeLg;
  //margin: 50px;
  //background-color: $background_color;
  //  padding: 50px 100px;
  font-size: 1.1rem;
  .privacy {
    a {
      //text-align: center;
    }
    margin: 30px;
  }
  span {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 32px;
  }
  .footer-lower {
    //justify-self: center;
    //justify-content: center;
    //width: 100%;
    //position: fixed;
    bottom: 0px;
    background-color: #f4f4f4;
    background-image: url("./images/footer.svg");
    height: 300px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    a {
      color: $text_color;
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.44rem;
    }
    .icons {
      margin-top: 30px;
    }
    //display: inline-block;
  }
  ul {
    font-size: 3.125rem;
    list-style: none;
    line-height: 2.63rem;
    li {
      font-size: 1.1rem;
    }
  }
}
